{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.desc |truncatewords:155 }}
    {% else %}
        Welcome to the cart store,where you can buy awesome items.
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{category.name}}-shop cart
    {% else %}
        See our collections -shop cart
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'allProdCat' %}">Our Product Collections </a>{{category.name}} </p>
            </div>
        </div>
    {% endif %}
<div class="mx-auto">
    {% if category %}
    <center><img class="my_image" src="{{category.image.url}}" style="height:500px; width:500px;" alt="{{category.name}}"></center>
</div><br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.desc}}</p>
</div>
{% else %}
<div>
    <center><img class="my_image my_image_padding" src="{% static 'img/SHOPPING CART (2).png' %}" style="width:1700px;" alt=""></center>
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Products Collections</h1>
    <p class="text-justify">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
</div>
{% endif %}
<div class="container">
    <div class="row max-auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width: 18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" style="width:200px;height:250px;" alt="{{product.name}}" >
                </a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>${{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        <div class="text-center">
        {% for pg in products.paginator.page_range %}
        <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} activate {% endif %}">{{pg}}</a>
        {% endfor %}
    </div>
        </div>
</div>
{% endblock %}
